.detail-wrapper {
    margin-top: 40px;
    .card {
        width : 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        a {
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: white;
            }
        }
    }
}
