.dishes-wrapper {
    .container {
        
        .card-dish {
            width: 8rem;
            height: 8rem;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat; 
            font-size: 20px;
            box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
            padding-left: 20px;
            a {
                color: white;
                text-decoration: none;
               
                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
