.header-wrapper {
 
    height: 80px;
    display: flex;
   
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .btn-border-sign-out {
        color: #e74a3b;
        background-color: transparent;
        border: solid 3px #e74a3b;
        &:hover {
        color: #fff;
        background-color: #e74a3b;
        border: solid 3px #e74a3b;
        }
    }

    .btn-border-primary {
        color: #4e73df;
        background-color: transparent;
        border: solid 3px #4e73df;
        &:hover {
        color: #fff;
        background-color: #4e73df;
        border: solid 3px #4e73df;
        }
    }
}